.nfp-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin: 30px;
}

.nfp-404 {
    font-size: 50px;
    margin: 0;
    text-align: center;
}

.nfp-home {
    font-size: 35px;
    color: purple;
    margin: 0;
    text-align: center;
}

.nfp-home:hover {
    text-decoration: underline;
}

.nfp-logo {
    width: 25%;
    height: 25%;
}
