input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pickup-delivery-page {
    margin: 50px 0px;
    // height: 100%;

    header {
        h1 {
            font-weight: 500;
        }
        border-bottom: 2px solid #DBDBDB;
        width: 80%;
        margin: 0px auto 15px auto;

    }

    p {
        margin: 0px;
        font-weight: 500;
    }

    span {
        font-weight: 500;
    }

    label {
        font-weight: 500;
    }
}

.divider {
    border-bottom: 2px solid #DBDBDB;
}

.checkout_options {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;

}

.delivery-radio {
    display: flex;
    align-items: center;

}

.radio-button-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

.radio-option {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        margin: 0px;
        margin-right: 5px;
    }

}

.checkout-form-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    max-width: 1200px;
    margin: 20px auto;
}

.form_field_container {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;

    input {
        display: flex;
        justify-content: flex-end;
        height: 30px;
        font-size: 16px;
        padding: 0px 5px;
        width: 200px;
    }

    label {
        margin-right: 20px;
    }

    select {
        height: 30px;
        font-size: 16px;
    }
}

.form-field-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 30px 0px;

    label {
        width: 100%;
        max-width: fit-content;
    }

    .address2 {
        margin-right: 25px;
    }
}

.form-field {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 30px 0px;

    label {
        width: 100%;
        max-width: fit-content;
    }
}

.state-zip {
    display: flex;
    height: fit-content;
    gap: 30px;
    select {
        width: 50px;
    }
    div {
        display: flex;
        align-items: center;
    }

    .zip {
        width: 75px;
    }
}

.special-request-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.submit-order-main {
    display: flex;
    gap: 50px;
    margin-top: 25px;
    align-items: center;
    justify-content: center;

    button {
        padding: 10px 15px;
        cursor: pointer;
        color: white;
        background-color: black;
    }
}
