.pickup-delivery-page{
    display:flex;
    flex-direction: column;
    align-items: center;
    footer{
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        input {
            margin-left: 20px;
            padding: 5px;
            height: fit-content
        }
        margin-top: 20px;
    }
    height: calc(100vh - 80px)
    
}


.pickup-deliery-header{
    height: 100px;
    width: 80%;
    border-bottom: 1px solid grey;
    display:flex;
    align-items: flex-end;
    
}
.radio-button-container{
    margin: 20px;
    width: 80%;
    form{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        width:100%;
        .delivery-radio{
            margin-right: 20px;
        }
        label{
            white-space: nowrap;
            
        }
    }
}

.pickup-form, .delivery-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-items:flex-end;
    textarea{
        height: 40px
    }
    input, select, textarea{
        margin-left:20px;
        margin-bottom:20px;
        width: 150px;
    }
    label.text-area-label{
        display:flex;
        align-items: flex-start;
    }
    margin: 20px;
    ul.errors{
        color:red;
    }
}