.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95vh;
  background-color: #f1f1f1;
  color: black;
  h1 {
    font-size: 50px;
  }
}

.gif-home {
  width: 50%;
  height: 100%;
}

.main_home_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-left-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-left-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-bottom: 1px rgba(0, 0, 0, 0.43) solid;
}

.home-left-heading {
  text-align: center;
  width: 85%;
  h1 {
    font-size: 50px;
    // text-shadow: 1px 1px 1px rgb(142, 142, 142);
  }

  h2 {
    color: #555555;
    font-weight: 300;
  }
}

.home-btn-main {
padding: 10px 0px;
}

.home-design-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    105deg,
    rgb(9, 154, 151) 11.2%,
    rgb(21, 205, 168) 91.1%
  );
  color: white;
  font-size: 18px;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: 500;
  gap: 10px;

  &:hover {
    outline: 1px solid rgba(0, 0, 0, 0.506);
  }

  .design-btn-arrow {
    font-size: 25px;
    bottom: 15%;

   animation: linear infinite 1s;
    animation-name: run;

    @keyframes run {
      0% {
        transform: translateX(0px);
      }
      50% {
        transform: translateX(2px);
      }
      100% {
        transform: translateX(0px);
      }
    }
  }
}


.section-2 {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;



    .carousel-header {
        background-color: white;
    }

}

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	margin: auto;
	overflow:hidden;
	position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px 0px;

	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100%;
		position: absolute;
		width: 200px;
		z-index: 2;
	}

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
        align-items: center;
        justify-content: center;
	}

	.slide {
		height: 150px;
		width: 250px;
        justify-content: center;
        display: flex;
        align-items: center;
	}
}
