$md: 768px;
$lg: 1150px;

.home-container {
    display: flex;
    gap: 4%;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    // position: relative;

}
.splash-img{
    // height: calc(100%);
    height: 100%;
    width: 100%;
    object-fit:cover;
    position: absolute;
}

.main_home_content {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    height: 100%;
}

.home-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    border-radius: 2%;
    position: relative;
}

// .home-right-container {
//     width: 48%;
//     min-width: 300px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     max-height: calc(100vh - 80px);
//     @media screen and (max-width: ($lg)) {

//           display: none;
//       }

// }

.home-left-heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    h1 {
        font-size: 5vh;
        margin: 0px;
        line-height: 70px
    };
    h3 {
        margin: 0px;
    }
    z-index: 1;
}

.home-left-infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.subcolumn, .solocolumn{
    display: flex;
    flex-direction: column;
    width: 50%;
    z-index: 1;
    p, button{
        width: 70%;
    }
    button{
        min-height: 80px;
        margin-bottom: 20px;
    }
    align-items: center;
}
.solocolumn{
    width: 100%
}

.bottom{
    margin-top: 20px;
    width: 100%;
}

button.home-left-buttons {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: #486592;
    color: white;
    border-radius:10px;
    cursor: pointer;
    &:hover{
        background-color:#637DA5;
    }
    &:active{
        background-color:#314665
    }
}

.home-left-choose-design {
    text-align: center;
}

// DIVIDER

.divider {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;

    :first-child {
        border-top: 1px;
        border: 1px black solid;
        flex: auto;
        min-width: 1px;
    }

    :nth-child(2) {
        padding: 0px 10px;
    }

    :last-child {
        border-top: 1px;
        border: 1px black solid;
        flex: auto;
        min-width: 1px;
    }

}
