.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.font-light {
    font-weight: 300;
}

.font-semibold {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.font-16 {
    font-size: 16px;
}
