.about-us{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;

    header {
        text-align: center;

        h1 {
            margin: 0px;
        }
    }
}

.about-main {
    display: flex;
    max-width: 1200px;
    gap: 50px;
    flex-direction: column;
}

.left-about {

    p {
        line-height: 30px;
    }
}

.right-about {
    display: flex;
    justify-content: center;
    align-items: center;
}
