.main__panel {
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 20px;
  flex-direction: column;
}

.order {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.order_design_image {
  width: 150px;
  height: 150px;
}

.order_detail_main {
  display: flex;
}

.order_details {
  h3 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 12px;
  }

  p {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 5px;
  }
}

.order-details_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-buttons {
  margin-bottom: 12px;
  display: flex;
  gap: 10px;

  button {
    background-color: white;
    border: 1px black solid;
    cursor: pointer;
    padding: 5px 10px
  }
}

.order-shipping-info {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  h3 {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0px;
  }
  :last-child {
    margin-top: 3px;
  }
}

.special-request-form {
  display: flex;
  flex-direction: column;

  p {
    margin: 0px;
    margin-bottom: 5px;
  }

  textarea {
    width: 100%;
    resize: none;
    padding: 5px;
    height: 100px;
    line-height: 1.5rem;
  }

  button {
    margin-left: auto;
    margin-top: 5px;
    border: 1px black solid;
    background-color: white;
    cursor: pointer;
    padding: 5px 15px;
  }
}
