// GLOBAL CSS FOR THE ENTIRE SETTINGS FOLDER

// Allow the navigation and content to be side by side
.setting__container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

// For main contents
.setting__contents {
    width: 100%;
    margin: 50px 0px;
}

// Navigation / Content Header
.setting__header {
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}

.setting__divider {
    border: 0.5px #DBDBDB solid;
    margin: 0px;
}

.setting__header__mb {
    margin-bottom: 30px;
}

.setting__wrapper {
    display: flex;
    width: 80%;
}
