// GLOBAL CSS FOR THE ENTIRE SETTINGS FOLDER

// Allow the navigation and content to be side by side
.setting__container {
    display: flex;
    justify-content: center;
    width: 100%;
}

// For main contents
.setting__contents {
    padding: 35px 50px;
}

// Navigation / Content Header
.setting__header {
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}

.setting__divider {
    border: 0.5px #DBDBDB solid;
    margin: 0px;
}

.setting__header__mb {
    margin-bottom: 30px;
}

.setting__background {
    background-color: #f1f1f1;
    width: 45rem;
}
