.side-navigation {
    height: 100dvh;
}

.side-navigation__contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
}

.side-navigation__left__border {
    border-left: 0.5px solid #DBDBDB;
}

.side-navigation-links {
    &:hover {
        font-weight: 500;
    }
    width: 150px;
    display: flex;
    gap: 8px;
    align-items: center;
}
