.setting-nav-header {
    font-size: 1.375rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.side-navigation__contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;

    a {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    a:hover {
        font-weight: 500;
    }
}

.side-navigation {
    width: 300px;
    margin-left: 20px;
}
