$footer-background: #6b85c8;
$footer-copyright-background: #486592;
$md: 700px;

.footer {
  color: white;
}

.footer__main {
  background-color: $footer-background;
  min-height: 200px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.footer-header {
  margin: 10px 0px;
  font-weight: 500;
  font-size: 14px;
}

.showroom__schedule {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media screen and (max-width: ($md)) {
      align-items: flex-start;
    }
  }
  :first-child p {
    margin: 0px;
  }

  :last-child p {
    margin: 0px;
  }
}

.footer__section {
  display: flex;
  flex-direction: column;
  min-height: 170px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.footer__copyright {
  // padding: 5px 0px;
  text-align: center;
  color: white;
  background-color: $footer-copyright-background;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  p {
    padding: 0;
    margin: 0;
  }
}
