@import "../../styles/responsive.scss";


.design_main {
    display: flex;
    justify-content: center;
    // background-color: rgb(213, 213, 213);
}

.design_headings {
    h2 {
        font-size: 14px;
    }
}

.design_image_container {
    margin: 20px 0px 50px 0px;
    max-width: 1920px;
    // background-color: white;
}

.design_grid {
    display: grid;
    grid-column-gap: 12px;
    grid-template-columns: repeat(6, 1fr);

    @include xxl {
        grid-template-columns: repeat(5, 1fr);
    }

    @include xl {
        grid-template-columns: repeat(4, 1fr);
    }

    @include lg {
        grid-template-columns: repeat(3, 1fr);
    }

    @include md {
        grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
        grid-template-columns: repeat(1, 1fr);
    }
}

.design_image {
    width: 200px;
    height: 200px;
    clip-path: inset(28px 30px)
}

.design_divider {
    border: 0.5px #DBDBDB solid;
    margin: 0px;
}

.design-link-container {
    position: relative;
}
.link-design {
    height: 200px;
    position: absolute;
    left: 15%;
    top: 28px;
    z-index: 1;
    height: 144px;
    width: 140px;
}
