.form_group {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-bottom: 3%;
}

.form_group input {
  width: 60%;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #d9d9d9;
  letter-spacing: 2px;
  font-size: 16px;
}

.pw_guide {
  margin-top: 0;
  font-size: 10px;
  font-weight: normal;
}
.change_pw_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.change_pw_btn button {
  padding: 2% 5%;
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
}

.change_pw_btn button:hover {
  background-color: #bbbbbb;
  box-shadow: inset 0 3px 5px rgba(86, 81, 81, 0.2);
}

.change_pw_btn button:active {
  background-color: #848484;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}
