
body, html {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  font-size: 14px;
  background-color: #F8F9FA;
  height: 100%;
}



* {
  box-sizing: border-box;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}
