.checkout_page {
  width: 75%;

  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  button {
    border: none;
    background-color: #d9d9d9;
    border-radius: 5px;
    padding: 5px;
    transform: 0.3s;
  }

  button:hover {
    background-color: gray;
  }

  button:active {
    background-color: cadetblue;
  }

  .checkout_main_body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .checkout_header {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  .home-items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .home-item-row {
    display: flex;
    align-items: center;

    border-bottom: 1px solid #ccc;
    padding: 10px;
    > div {
      flex-grow: 1;
      text-align: center;
      padding: 10px;
    }
    .home-item-size {
      min-width: 20%;
      max-width: 20%;
    }
    .home-item-quantity {
      min-width: 10%;
      max-width: 10%;
    }
    .home-item-change {
      min-width: 10%;
      max-width: 10%;
    }
    .home-item-price {
      min-width: 10%;
      max-width: 10%;
    }
    .home-item-image-container {
      min-width: 20%;
      max-width: 20%;
    }
    .removal {
      min-width: 10%;
      max-width: 10%;
    }
    .home-item-image {
      max-width: 100px;
      min-width: 100px;
    }

    .home-item-info-container {
      max-width: 20%;
      min-width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;

      .home-item-title {
        min-width: 100%;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .change_quantity {
      width: 50px;
    }
  }

  .subtotal {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: auto;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 15%;
  }
}

.navigate-shipping {
  min-height: 50px;
  width: 100%;
  font-size: 16px;
}
