.checkout_page {
  word-wrap: break-word;
  margin: 50px auto;
  width: 80%;
  height: 100%;

  .empty_cart_message {
    font-size: 32px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15%;
    margin-top: 15%;
  }

  h1 {
    font-weight: 500;
    font-size: 28px;
    margin: 0px;
    margin-bottom: 15px;
  }

  .edit-button {
    padding: 5px 30px;
    border-radius: 5px;

    &:hover {
      background-color: #dbdbdb;
      transition: all 0.1s;
    }
    // &:focus {
    //   outline: none;
    //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(0, 0, 0, 0.3); /* Custom focus effect */
    // }
  }

  .remove-icon {
    color: red;
    font-size: 32px;

    // &:hover {
    //   background-color: #dbdbdb;
    //   transition: all 0.1s;
    // }
  }

  .checkout_main_body {
    margin-left: auto;
    margin-right: auto;
  }

  .checkout_header {
    border-bottom: 2px solid #dbdbdb;
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    font-size: 28px;
    margin: 0px;
    margin-bottom: 15px;
  }

  .home-items-container {
    display: flex;
    flex-direction: column;
  }

  .home-item-row {
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
      flex-grow: 1;
      text-align: center;
      padding: 10px;
      width: fit-content;
    }

    .home-item-size {
      min-width: 23%;
      max-width: 23%;
    }
    .home-item-quantity {
      min-width: 10%;
      max-width: 10%;
    }
    .home-item-change {
      min-width: 10%;
      max-width: 10%;
    }
    .home-item-price {
      min-width: 15%;
      max-width: 15%;
    }

    .home-item-image-container {
      display: flex;
      justify-content: center;
    }

    .removal {
      min-width: 10%;
      max-width: 10%;
      display: flex;
      justify-content: center;
    }

    .delete-button{
      background-color: white;
    }
    .delete-button:hover{
      background-color: #dbdbdb;
      transition: all 0.1s;
    }
    .delete-button:focus{
      // background-color: #dbdbdb;
      transition: all 0.1s;
      // outline: none;
      // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(0, 0, 0, 0.3);
    }
    .home-item-image {
      height: 100px;
      object-fit: contain;
    }

    .home-item-info-container {
      max-width: 15%;
      min-width: 15%;
      display: flex;
      align-items: center;
      justify-content: center;

      .home-item-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
      }
    }

    .change_quantity {
      width: 50px;
    }
  }

  .subtotal {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    font-weight: 500;
    font-size: 24px;
  }

  span {
    font-weight: 400;
  }
}

.navigate-shipping {
  padding: 5px 30px;
  background-color: black;
  height: min-content;

  p {
    color: white;
    font-size: medium;
  }
  &:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(0, 0, 0, 0.5); /* Custom focus effect */
  }
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  .edit-batch-modal {
    background: white;
    width: 30rem;
    padding: 10px 10px;
    border-radius: 10px;

    .edit-batch-title {
      font-size: 20px;
      font-weight: 500;
      text-align: center;
    }

    .edit_form_container {
      justify-content: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // width: 50%;
      // gap: 15px;
      margin-top: 25px;
    }
    .edit_column {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 5%;
      min-width: 80px;
      max-width: 120px;
      .edit_label {
        width: 50px;
        text-align: center;
        font-weight: 500;
      }
      input {
        align-items: flex-end;
        width: 40%;
        height: 25px;
        padding: 0px 5px;
      }
    }
    form {
      display: flex;
      flex-direction: column;
    }
    .edit_button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 2%;
    }
    button {
      border: none;
      border-radius: 5px;
      padding: 5px;
      transform: 0.3s;
    }

    button:hover {
      background-color: #dbdbdb;
      transition: all 0.1s;
    }
  }
}
