.checkout_page {
  word-wrap: break-word;
  margin: 50px auto;
  max-width: 80%;

  h1 {
    font-weight: 500;
    font-size: 28px;
    margin: 0px;
    margin-bottom: 15px;
  }


  .edit-button{
    padding: 5px 30px;
    border-radius: 5px;

    &:hover {
      background-color: #dbdbdb;
      transition: all 0.1s;
    }

  }

  .remove-icon {
    color: red;
    font-size: 32px;

    &:hover {
      cursor: pointer;
      text-shadow: #DBDBDB;
      transition: all 0.1s;
    }
  }

  // button {
  //   border: none;
  //   border-radius: 5px;
  //   padding: 5px;
  //   transform: 0.3s;
  //   background-color: white;
  //   border: 1px black solid;

  //   &:active {
  //     background-color: cadetblue;
  //   }
  // }

  .checkout_main_body {
    margin-left: auto;
    margin-right: auto;
  }

  .checkout_header {
    border-bottom: 2px solid #DBDBDB;
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    font-size: 28px;
    margin: 0px;
    margin-bottom: 15px;
  }

  .home-items-container {
    display: flex;
    flex-direction: column;
  }

  .home-item-row {
    display: flex;
    align-items: center;
    gap: 5px;

    padding: 10px;
    > div {
      flex-grow: 1;
      text-align: center;
      padding: 10px;
      width: fit-content;
    }

    .home-item-size {
      min-width: 20%;
      max-width: 20%;
    }
    .home-item-quantity {
      min-width: 10%;
      max-width: 10%;
    }
    .home-item-change {
      min-width: 10%;
      max-width: 10%;
    }
    .home-item-price {
      min-width: 10%;
      max-width: 10%;
    }
    .home-item-image-container {
      display: flex;
      justify-content: center;
    }
    .removal {
      min-width: 10%;
      max-width: 10%;
      display: flex;
      justify-content: center;
    }
    .home-item-image {
      width: 80px;
      height: 80px;
      display: flex;
      object-fit: contain;
      justify-content: center;
    }

    .home-item-info-container {
      max-width: 20%;
      min-width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;

      .home-item-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
      }
    }

    .change_quantity {
      width: 50px;
    }
  }

  .subtotal {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-weight: 500;
    font-size: 24px;
  }

  span {
    font-weight: 400;
  }
}

.navigate-shipping {
  padding: 5px 30px;
  background-color: black;

  p {
    color: white;
    font-size: medium;
  }

}
