.size_chart input::-webkit-inner-spin-button,
.size_chart input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.size_chart input[type="number"] {
  -moz-appearance: textfield;
}
///to hide the span on number input section

.main_panel {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  margin-bottom: 5%;
  .top_panel {
    display: flex;
    flex-direction: row;
  }

  .top_left {
    width: 25%;
    .design_preview {
      width: 75px;
      height: 75px;
      background-color: #d9d9d9;
      display: flex;
      margin-top: auto;
      margin-left: auto;
    }

    button {
      display: flex;
      width: 20px;
      height: 20px;
      align-items: center;
      justify-content: center;
      margin-top: auto;
      margin-left: auto;
    }
    .close_button {
      font-size: 24px;
    }
  }

  .top_mid {
    width: 35%;
    margin-left: 0.5%;
  }
}

.top_right {
  width: 25%;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  .product_name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  #imageSelection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 50%;
    img {
      max-width: 50px;
      max-height: 50px;
      margin-right: 3%;
    }
    img.selected {
      border: 2px solid blue;
    }
  }
  #colorSelection {
    margin-top: 2%;
    .color-circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid black; /* Thin black border */
      display: inline-block;
      cursor: pointer;
      margin: 5px;
    }
    .color_name {
      font-size: 16px;
      margin-bottom: 10px;
      margin-top: 0;
    }
  }

  #size_quantity {
    width: 50%;
    .size_chart {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
      gap: 10px;
      margin-bottom: 5%;

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      input {
        display: flex;

        text-align: center;
        width: 25px;
        border: none;
        background-color: #d9d9d9;
        margin-left: 5px;
      }
    }
  }
  .place_holder {
    display: flex;
    margin-top: auto;
    // margin-bottom: 0;
  }
}
.product_modal {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .modal_container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    .modal_img {
      width: 40%;
      height: auto;
      object-fit: contain;
    }
    button {
      position: relative;
      cursor: pointer;
      margin-bottom: auto;
      border: none;
      height: 20px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.confirm_button {
  display: flex;
  border: none;
  width: 40%;
  justify-content: center;
  background-color: #d9d9d9;
  margin-left: 0;
  margin-top: 15%;
  transition: all 0.2s;
}
.confirm_button:hover {
  background-color: #bbbbbb;
  box-shadow: inset 0 3px 5px rgba(86, 81, 81, 0.2);
}

.confirm_button:active {
  background-color: #848484;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}
