.main_panel {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
  .top_panel {
    display: flex;
    flex-direction: row;
  }

  .top_left {
    width: 25%;
    button{
        display: flex;
        width: 20px;
        height: 20px;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        margin-left: auto;
    }
  }

  .top_mid {
    width: 39.5%;
    margin-left: 0.5%;
  }
}
.design_preview {
  width: 75px;
  height: 75px;
  background-color: #d9d9d9;
  display: flex;
  margin-top: auto;
  margin-left: auto;
}

.top_right {
  width: 35%;
}
