.account-form {
    display: flex;
    gap: 25px;
}

.account-form__field {
    display: flex;
    flex-direction: column;

    input {
        width: 100%;
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
        background-color: #d9d9d9;
        font-size: 16px;
    }

    label {
        font-weight: 500;
    }
}

.account-form__content__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.account-form__input {
    height: 25px;
    background-color: rgb(210, 210, 210);
    border-style: none;
    border: 1px rgb(115, 115, 115) solid;
    border-radius: 2px;
}
