.account-form {
    display: flex;
    gap: 25px;
}

.account-field {
    display: flex;
    flex-direction: column;

    p {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        margin: 0px;
    }

    label {
        font-weight: 500;
    }
}

.account__content__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.account-details {
    display: flex;
    gap: 50px;
}
