@import "../../styles/responsive.scss";

.nav__container {
  width: 100%;
  height: 80px;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px #dbdbdb solid;
}

.nav_logo {
  height: 55px;
  font-size: 32px;
  font-weight: 500;
  cursor: pointer;
}

.nav_logo__container {
  width: fit-content;
}

.left-nav {
  display: flex;
  gap: 50px;
  align-items: center;
  z-index: 2;
}

.nav_inner_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  // position: relative;
}



.nav__middle__section, .nav__right__section{
  display: flex;
  justify-content: center;
  gap: 50px;
  a {
    font-weight: 300;
    display: flex;
    cursor: pointer;
    align-items: center;
    /*   border-radius: 5px; */
    text-decoration: none;
    padding: 3px 0;

    /* Set up the hover */
    /* If you aren't using autoprefix, remember to prefix the gradient for other browsers */
    background-image: linear-gradient(black, black);
    background-size: 0 1px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 0.4s ease-out;
  }

  a:hover {
    background-size: 100% 1px, auto;
    color: black;
  }
}
.nav__right__section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  a {
    display: flex;
    align-items: center;
    padding: 0
  }

  .nav_login {
    background-color: inherit;
  }
  .register:hover{
    background-color: rgb(53, 53, 53);
  }
}

.nav__profile__cart {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;

  a {
    display: flex;
    align-items: center;
  }
}

.cart-icon {
  font-size: 25px;
}

.user-icon {
  font-size: 28px;
}

.cart_total_items {
  position: absolute;
  font-weight: 600;
  right: -10px;
  top: -8px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.cart-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 5px;
  p {
    font-weight: 300;
    display: flex;
    cursor: pointer;
    align-items: center;
    width: fit-content;
    text-decoration: none;
    margin: 0px;
    padding: 2px 0px;

    /* Set up the hover */
    /* If you aren't using autoprefix, remember to prefix the gradient for other browsers */
    background-image: linear-gradient(black, black);
    background-size: 0 1px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 0.4s ease-out;
  }

  p:hover {
    background-size: 100% 1px, auto;
    color: black;
  }
}

.register {
  font-weight: 300;
  background-color: black;
  color: white;
  padding: 4px 10px;
  border-radius: 3px;

  p {
    margin: 0px;
  }
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  p {
    font-weight: 300;
    display: flex;
    cursor: pointer;
    align-items: center;
    width: fit-content;
    text-decoration: none;
    margin: 0px;
    padding: 2px 0px;

    /* Set up the hover */
    /* If you aren't using autoprefix, remember to prefix the gradient for other browsers */
    background-image: linear-gradient(black, black);
    background-size: 0 1px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 0.4s ease-out;
  }

  p:hover {
    background-size: 100% 1px, auto;
    color: black;
  }
}

.hamburger {
  display: flex;
  align-items: center;
  font-size: 32px;
  gap: 20px;
  .nav_logo-small {
    width: 100px;
    font-weight: 500;
  }

  button {
    font-size: 32px;
    display: flex;
    align-items: center;
    background-color: inherit;
  }
}

.dropdown-menu {
  position: absolute;
  z-index: 120;
  top: 80px;
  left: 0px;
  width: 100%;
  background-color: white;
  border-bottom: black 1px solid;

  .drop-down-inner {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    font-size: 28px;

    a {

      margin: 10px 0px;
      font-weight: 200;
      display: flex;
      cursor: pointer;
      align-items: center;
      width: fit-content;
      text-decoration: none;
      padding: 2px 0px;

      /* Set up the hover */
      /* If you aren't using autoprefix, remember to prefix the gradient for other browsers */
      background-image: linear-gradient(black, black);
      background-size: 0 1px, auto;
      background-repeat: no-repeat;
      background-position: center bottom;
      transition: all 0.4s ease-out;
    }

    a:hover {
      background-size: 100% 1px, auto;
      color: black;
    }

    .mobile-acc_cart {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  p {
    margin: 0px;
  }

  .mobile-cart {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mobile-account {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
